<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font Awesome Icon cdn link is given below. -->
    <script src="https://kit.fontawesome.com/8b9110ef0c.js" crossorigin="anonymous"></script>
    <!-- Google Font cdn link is given below. -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet" />
    <!-- Eexternal CSS link is given below. -->
    <link rel="stylesheet" href="./Css/style.css" />
    <link rel="shortcut icon" type="x-icon" href="./Image/favicon (3).png">
    <title>Login - সফলতার ডাক</title>

</head>

<%- include("layout/header") %>

    <!-- Header is finished ! -->
    <div class="login-form-wrapper">
        <div class="form-main-container ">

            <!-- The password reset page is bellow -->

            <div class="main-w3layouts wrapper ">
                <div class="common-input-page-heading">
                    <h1>পাসওয়ার্ড পরিবর্তন</h1>
                    <p> একটি অনন্য এবং স্মরণীয় পাসওয়ার্ড দিয়ে ফাঁকা ইনপুটগুলি পূরণ করুন। </p>
                </div>

                <div class="main-agileinfo reset-pass-page">
                    <div class="agileits-top">
                        <form action="/password-reset" method="post" id="password-reset-form">

                            <p>Check your email for a <b>verification code</b> and enter it in the input field.</p>

                            <input class="text-inputs <%= error.email ? 'invalid-text-input' : '' %>" type="email"
                                name="email" value="<%= value.email ? value.email : '' %>"
                                placeholder="Email Address" />

                            <div class="error-box valid-input <%= error.email ? 'invalid-input' : '' %>">
                                <i class="fa-solid fa-circle-exclamation error-i"></i>
                                <p class="error-p">
                                    <%= error.email && error.email %>
                                </p>
                            </div>

                            <% if(!error.email){ %>
                                <input class="text-inputs <%= error.verificationCode ? 'invalid-text-input' : '' %>"
                                    type="text" name="verificationCode"
                                    value="<%= value.verificationCode ? value.verificationCode : '' %>"
                                    placeholder=" Verification Code" />

                                <div class="error-box valid-input <%= error.verificationCode ? 'invalid-input' : '' %>">
                                    <i class="fa-solid fa-circle-exclamation error-i"></i>
                                    <p class="error-p">
                                        <%= error.verificationCode && error.verificationCode %>
                                    </p>
                                </div>

                                <input class="text-inputs <%= error.new_password ? 'invalid-text-input' : '' %>"
                                    type="password" name="new_password"
                                    value="<%= value.new_password ? value.new_password : '' %>"
                                    placeholder="New password" />
                                <div class="error-box valid-input <%= error.new_password ? 'invalid-input' : '' %>">
                                    <i class="fa-solid fa-circle-exclamation error-i"></i>
                                    <p class="error-p">
                                        <%= error.new_password && error.new_password %>
                                    </p>
                                </div>

                                <input class="text-inputs <%= error.confirm_new_password ? 'invalid-text-input' : '' %>"
                                    type="password" name="confirm_new_password"
                                    value="<%= value.confirm_new_password ? value.confirm_new_password : '' %>"
                                    placeholder="Confirm new password" />
                                <div
                                    class="error-box valid-input <%= error.confirm_new_password ? 'invalid-input' : '' %>">
                                    <i class="fa-solid fa-circle-exclamation error-i"></i>
                                    <p class="error-p">
                                        <%= error.confirm_new_password && error.confirm_new_password %>
                                    </p>
                                </div>

                                <% } %>

                                    <input type="submit" value="Change Password" />
                        </form>
                        <p class="link-offer">

                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <ul class="colorlib-bubbles bubbles-register">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <!-- Ragister Section is finished ! -->

    <%- include("layout/footer") %>

        <!-- Footer Section is finished ! -->

        <script src="./Js/main.js"></script>
        </body>

</html>